.u-section-1 {
  min-height: 814px;
}

.u-section-1 .u-sheet-1 {
  min-height: 848px;
}

.u-section-1 .u-slider-1 {
  min-height: 634px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/hmmmm.jpg");
  background-position: 21.09% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 78px;
  width: 78px;
  margin: -6px auto 0 -30px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/hmmmmmm2.jpg");
  background-position: 5.04% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  font-style: italic;
  margin: 541px -10px 0 507px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/hmmmmmmm1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/hmmmmmmmm.jpg");
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-1 .u-icon-2 {
  height: 93px;
  width: 93px;
  margin: 39px auto 0 -41px;
}

.u-section-1 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-1 .u-image-5 {
  width: 715px;
  height: 495px;
  margin: 27px auto 0;
}

.u-section-1 .u-image-6 {
  background-image: url("images/Screenshot2021-04-090910101.png");
  background-position: 1.18% 11.12%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: -17px 976px 0 0;
}

.u-section-1 .u-image-7 {
  background-image: url("images/Screenshot2021-04-09091320.png");
  background-position: 50% 47.45%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-1 .u-image-8 {
  background-image: url("images/hm.jpg");
  background-position: 100% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-1 .u-image-9 {
  width: 665px;
  height: 440px;
  margin: 0 auto 0 180px;
}

.u-section-1 .u-image-10 {
  background-image: url("images/Untitled.jpg");
  background-position: 100% 100%;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 50px;
}

.u-section-1 .u-icon-4 {
  height: 42px;
  width: 42px;
  margin: 10px auto 0 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none none double;
  font-size: 1.25rem;
  margin: 114px auto 0 237px;
  padding: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 50px;
}

.u-section-1 .u-image-11 {
  width: 750px;
  height: 519px;
  margin: 0 auto;
}

.u-section-1 .u-image-12 {
  background-image: url("images/Untitled1.jpg");
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 50px;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 10px auto 0 98px;
}

.u-section-1 .u-icon-6 {
  height: 415px;
  width: 415px;
  background-image: none;
  margin: 135px auto -20px 98px;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 50px;
}

.u-section-1 .u-image-13 {
  width: 666px;
  height: 479px;
  margin: 0 174px 0 auto;
}

.u-section-1 .u-image-14 {
  background-image: url("images/Untitled2.jpg");
}

.u-section-1 .u-container-layout-14 {
  padding: 30px 50px;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 50px;
}

.u-section-1 .u-image-15 {
  width: 730px;
  height: 476px;
  margin: 39px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 407px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 776px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 175px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -83px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 49px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 80px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 776px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 297px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-5 {
    width: 660px;
    height: 457px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 596px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-9 {
    width: 660px;
    height: 436px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-11 {
    width: 660px;
    height: 457px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-13 {
    width: 660px;
    height: 475px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-15 {
    width: 660px;
    height: 430px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 679px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 366px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 227px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    width: 520px;
    height: 360px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 456px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    width: 520px;
    height: 344px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    width: 520px;
    height: 360px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-13 {
    width: 520px;
    height: 374px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-15 {
    width: 520px;
    height: 339px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 541px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 248px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 127px;
  }

  .u-section-1 .u-image-5 {
    width: 320px;
    height: 222px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 256px;
  }

  .u-section-1 .u-image-9 {
    width: 320px;
    height: 212px;
  }

  .u-section-1 .u-image-11 {
    width: 320px;
    height: 222px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-6 {
    height: 320px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-image-13 {
    width: 320px;
    height: 230px;
  }

  .u-section-1 .u-image-15 {
    width: 320px;
    height: 209px;
  }
}@font-face {
  font-family: 'GOODPEOPLE';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GOODPEOPLE.otf);
}